.dropdown-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  cursor: pointer;
}

.dropdown-container button {
  margin-bottom: 0.5em;
}

.options-container {
  width: 100%;
  max-height: 30vh;
  overflow-y: auto;
  background-color: var(--color-background);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 0.5em;
}

input[type="text"] {
  margin: 0.5em 0 0.5em 0;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option img {
  margin-left: 4em;
}

.option span {
  width: 50%;
  margin-right: 4em;
  text-align: center;
  align-self: center;
}