.my-planners {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}